body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    color: rgb(100, 226, 47);
    margin: 0;
    padding: 0;
  }
  
  #app {
    margin-top: 50px;
  }
  
  #game-status {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  